Source: qcommandline
Priority: extra
Maintainer: Corentin Chary <corentin.chary@gmail.com>
Build-Depends: debhelper (>= 7), cmake, libqt4-dev
Standards-Version: 3.8.3
Section: libs
Homepage: http://xf.iksaif.net/dev/qcommandline.html

Package: libqcommandline0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command line parser for Qt (like getopt).
 Features include options, switchs, params and automatic
 --version/--help generation.

Package: libqcommandline-dev
Section: libdevel
Architecture: any
Depends: libqcommandline0 (= ${binary:Version}), ${misc:Depends}
Description: Command line parser for Qt (like getopt).
 Features include options, switchs, params and automatic
 --version/--help generation.
 .
 These are the development files.

Package: libqcommandline0-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqcommandline0 (= ${binary:Version})
Description: Command line parser for Qt (like getopt).
 debug info for a command line parser in Qt.
 .
 Features include options, switchs, params and automatic
 --version/--help generation.

